@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,700");
body{
  overflow-x: hidden;
  font-family: Courier;
  color: #505962;
}

.offset:before{
	display: block;
	content: "";
	height: 4rem;
	margin-top: -4rem;
}
/********Navigation**********/

.navbar {
  text-transform: uppercase;
  font-weight: 700;
  font-size: .9rem;
  letter-spacing: .1rem;
  background: rgba( 0 , 0 , 0 , 0.6)!important;
}

.navbar-brand img{
	height: 4rem;
}

.navbar-nav li{
	padding-right: .7rem;
}

.navbar-dark .navbar-nav .nav-link{
	color: white;
	padding-top: .8rem; 
}

.navbar-dark .navbar-nav .nav-link.active,
.navbar-dark .navbar-nav .nav-link:hover{
	color: #041F40;
}

/******Landing Page******/
.home-inner{
	background: url("http://codechef_shared.s3.amazonaws.com/download/Codechef-logo.png");
	background-size: cover;
	background-repeat: no-repeat;
	background-color: #fff;
	width: 100%;
  	height: 100%;
}
@media only screen and (max-width: 767px) {
	.home-inner {
	  background: url("/css/img/chef.png");
	  background-size: contain;
	  background-repeat: no-repeat;
	}
}

.caption{
	color: white;
	width: 100%;
	max-width: 100%;
	position: absolute;
	top: 38%;
	z-index: 1;
	text-transform: uppercase;
}

.caption h1{
	font-size: 3.8rem;
	font-weight: 700;
	letter-spacing: .2rem;
	text-shadow: .1rem .1rem .8rem black;
	padding-bottom: 1rem;
}

.caption h3{
	font-size: 2rem;
	text-shadow: .1rem .1rem .5rem black;
	padding-bottom: 1.6rem;
}

.btn-lg{
	color: #041F40;
	border-width: medium;
	border-radius: 0;
	padding: .6rem 1.3rem;
	font-size: 1.1rem;
}

/* AMA Section*/

.narrow{
	width: 75%;
	margin: 1.5rem auto; 
	padding-top: 2rem;
}
.narrow h1{
	font-size: 2.4rem;
}
.btn-secondary{
	border-width: medium;
	border-radius: 0;
	text-transform: uppercase;
	font-size: 1.2rem;
	padding: .6rem 1.2rem;
	margin: 1rem;
	color: white;
	background-color: #041F40;
	border-color: #041F40;
}
.btn-secondary:hover{
	background-color: #041F40;
	border-color: #041F40;
}

/*Events Section*/

.jumbotron{
	margin-bottom:0;
	padding: 2rem 0 3.5rem;
	border-radius: 0;
}

h3.heading{
	font-size: 1.9rem;
	font-weight: 700;
	text-transform: uppercase;
	margin-bottom: 1.9rem;
}
.heading-underline{
	width: 3rem;
	height: .2rem;
	background-color: #041F40;
	margin: 0 auto 2rem;

}

.feature svg.svg-inline--fa{
	color: #041F40;
}

.feature h3{
	font-size: 1.3rem;
	text-transform: uppercase;
	padding-bottom: .4rem;
}
.feature p{
	font-size: 1.1rem;

}

/*Still Section*/
.fixed{
	background-image: url(img/apple.png);
	z-index: -1; 
}
.dark{
	background-color: rgba(0,0,0,0.55);
	color: white;
	padding: 7rem 2rem;
}
.fixed-background h3{
	margin-bottom: 2rem;

}
.fixed-background p{
	margin-top: 1.5rem;
}



.wrapper {
	display: flex;
	width: 90%;
	justify-content: space-around;
}

.card {
	width: 280px;
	height: 360px;
	padding: 1.5rem;
	background: white;
	position: relative;
	display: flex;
	align-items: flex-end;
	transition: 0.4s ease-out;
	box-shadow: 0px 7px 10px rgba(black, 0.5);
}

.card:hover {
  -webkit-transform: translateY(20px);
          transform: translateY(20px);
}

.card:hover:before {
  opacity: 1;
}

.card:hover .info {
  opacity: 1;
  -webkit-transform: translateY(0px);
          transform: translateY(0px);
}

.card::before  {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	display: block;
	width: 50%;
	height: 50%;
	border-radius: 15px;
	background: rgba(black, 0.6);
	z-index: 2;
	transition: 0.5s;
	opacity: 0;
}


.card img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 15px;
}

.card img:hover {
	opacity: 0.5;
}

.card .info {
  position: relative;
  z-index: 3;
  color: white;
  opacity: 0;
  -webkit-transform: translateY(30px);
          transform: translateY(30px);
  transition: 0.5s;
}

.card .info h1 {
  margin: 0px;
}
.card .info p  {
  letter-spacing: 1px;
  font-size: 15px;
  margin-top: 8px;
}
.card .info button {
  padding: 0.6rem;
  outline: none;
  border: none;
  border-radius: 3px;
  background: transparent;
  color: #041F40;
  font-weight: bold;
  cursor: pointer;
  transition: 0.4s ease;
}
.card .info button:hover {
  background: dodgerblue;
  color: white;
}


.clients-hr {
	border-top: .05rem solid #041F40;

}

/*Contact Section*/

footer{
	position: relative;
	bottom: 0;
}
 
@media (max-height:800px){
	footer { position: static; }
	header { padding-top:40px; }
}
 
 
.footer-distributed{
	background: rgba( 0 , 0 , 0 , 0.6)!important;
	box-sizing: border-box;
	width: 100%;
	text-align: left;
	font: 16px sans-serif;
	padding: 50px 50px 60px 50px;
	margin-top: 80px;
}
 
.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right{
	display: inline-block;
	vertical-align: top;
}
 
/* Footer left */
 
.footer-distributed .footer-left{
	width: 30%;
}
 
.footer-distributed h3{
	color:  #ffffff;
	font: normal 36px 'Cookie', cursive;
	margin: 0;
}
 
/* The company logo */
 
.footer-distributed .footer-left img{
	width: 30%;
}
 
.footer-distributed h3 span{
	color:  #fff;
	font-family: Courier;
}
 
/* Footer links */
 
.footer-distributed .footer-links{
	color:  #ffffff;
	margin: 20px 0 12px;
}
 
.footer-distributed .footer-links a{
	display:inline-block;
	line-height: 1.8;
	text-decoration: none;
	color:  inherit;
}
 
.footer-distributed .footer-company-name{
	color:  #8f9296;
	font-size: 14px;
	font-weight: normal;
	margin: 0;
}
 
/* Footer Center */
 
.footer-distributed .footer-center{
	width: 35%;
}
 
.footer-distributed .footer-center i{
	background-color:  #33383b;
	color: #ffffff;
	font-size: 25px;
	width: 38px;
	height: 38px;
	border-radius: 50%;
	text-align: center;
	line-height: 42px;
	margin: auto;
	vertical-align: middle;
}
 
.footer-distributed .footer-center i.fa-envelope{
	font-size: 17px;
	line-height: 38px;
}
 
.footer-distributed .footer-center p{
	display: inline-block;
	color: #ffffff;
	vertical-align: middle;
	margin:0;
}
 
.footer-distributed .footer-center p span{
	display:block;
	font-weight: normal;
	font-size:14px;
	line-height:2;
}
 
.footer-distributed .footer-center p a{
	color:  #fff;
	text-decoration: none;;
}
 
 
/* Footer Right */
 
.footer-distributed .footer-right{
	width: 30%;
}
 
.footer-distributed .footer-company-about{
	line-height: 20px;
	color:  #92999f;
	font-size: 13px;
	font-weight: normal;
	margin: 0;
}
 
.footer-distributed .footer-company-about span{
	display: block;
	color:  #ffffff;
	font-size: 18px;
	font-weight: bold;
	margin-bottom: 20px;
}
 
.footer-distributed .footer-icons{
	margin-top: 25px;
}
 
.footer-distributed .footer-icons a{
	display: inline-block;
	width: 35px;
	height: 35px;
	cursor: pointer;
	background:  rgba( 0 , 0 , 0 , 0)!important;
	border-radius: 2px;
 
	font-size: 30px;
	color: #ffffff;
	text-align: center;
	line-height: 35px;
 
	margin-right: 3px;
	margin-bottom: 5px;
}
@media (max-width: 880px) {
 
	.footer-distributed .footer-left,
	.footer-distributed .footer-center,
	.footer-distributed .footer-right{
		display: block;
		width: 100%;
		margin-bottom: 40px;
		text-align: center;
	}
 
	.footer-distributed .footer-center i{
		margin-left: 0;
	}
 
}
.footer-distributed .footer-center #imgDiv{
	padding-bottom: 2%;
}
.footer-distributed .footer-center #image0{
	width: 25%;
	height: 25%;
}
.footer-distributed .footer-left #image1{
	width: 50%;
	height: 50%;
}
hr.socket{
	width: 100%;
	border-top:0.2rem solid #041F40;
	margin-top: 3rem;
}
/* form */
:root {
  --white: #afafaf;
  /* --white:#ffffff; */
  --red: #e31b23;
  --bodyColor: #292a2b;
  /* --bodyColor:#ffffff; */
  --borderFormEls: hsl(0, 0%, 10%);
  --bgFormEls: hsl(0, 0%, 14%);
  --bgFormElsFocus: hsl(0, 7%, 20%);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  outline: none;
}

a {
  color: inherit;
}

input,
textarea,
button {
  font-family: inherit;
  font-size: 100%;
}

button,
label {
  cursor: pointer;
}

select {
  appearance: none;
}

/* Remove native arrow on IE */
select::-ms-expand {
  display: none;
}
select:-moz-focusring {
  color: transparent !important;
  text-shadow: 0 0 0 var(--white);
}

ul {
  list-style: none;
}
.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 0 1.5rem;
}

/* FORM ELEMENTS
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.my-form h1 {
  margin-bottom: 1.5rem;
}

.my-form li,
.my-form .grid > *:not(:last-child) {
  margin-bottom: 1.5rem;
}

.my-form input,
.my-form textarea{
  width: 800px;
  line-height: 1.5;
  padding: 15px 10px;
  border: 1px solid var(--borderFormEls);
  color: var(--white);
  background: var(--bgFormEls);
}
.my-form button {
  width: 100%;
  line-height: 1.5;
  padding: 15px 10px;
  border: 1px solid var(--borderFormEls);
  color: var(--white);
  background: var(--bgFormEls);
}
.my-form textarea {
  height: 170px;
}

.my-form ::placeholder {
  color: inherit;
 opacity: 1;
}

.my-form input:focus,
.my-form textarea:focus,
.my-form button:enabled:hover,
.my-form button:focus,
.my-form select:focus,
.my-form input:focus,
.my-form textarea:focus {
  transform: scale(1.02);
}

/* FORM BTNS
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.my-form button {
  font-weight: bold;
}

.my-form button > * {
  display: inline-block;
  width: 100%;
  transition: transform 0.4s ease-in-out;
}

.my-form button .back {
  position: absolute;
}

@media screen and (min-width: 600px) {
  .my-form .grid {
    display: grid;
    grid-gap: 1.5rem;
  }

  .my-form .grid-2 {
    grid-template-columns: 1fr 1fr;
  }

  .my-form .grid-3 {
    grid-template-columns: auto auto auto;
    align-items: center;
  }

  .my-form .grid > *:not(:last-child) {
    margin-bottom: 0;
  }

  .my-form .required-msg {
    display: block;
  }
}

/* team */
#team {
  text-align: center;

}

#team .title {
  font-weight: bold;
}

#team .subtext {
  font-size: 14px;
  margin-top: -1.2vw;
}

.col-half-offset{
  margin-left:3%
}

.img-thumbnail {
  width: 140px;
}
